version: 1
interactions:
- request:
    body: grant_type=client_credentials&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.tcgplayer.com/token
  response:
    body:
      string: '{"access_token":"FILTERED_BEARER_TOKEN","token_type":"bearer","expires_in":1209600,".issued":"Thu,
        30 Oct 2025 01:00:00 GMT",".expires":"Thu, 13 Nov 2025 01:00:00 GMT"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tcgplayer.com/pricing/group/999999999
  response:
    body:
      string: '{"success":true,"errors":[],"results":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
