interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.tcgplayer.com/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        1209599, "userName": "REDACTED", ".issued": "Sun, 02 Nov 2025 16:02:43 GMT",
        ".expires": "Sun, 16 Nov 2025 16:02:43 GMT"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tcgplayer.com/v1.39.0/catalog/categories
  response:
    body:
      string: '{"success": true, "errors": [], "results": [{"categoryId": 1, "name":
        "Magic", "modifiedOn": "2020-01-01T00:00:00", "displayName": "Magic: The
        Gathering", "seoCategoryName": "magic-the-gathering", "sealedLabel": "Sealed
        Products", "nonSealedLabel": "Singles", "conditionGuideUrl": "https://help.tcgplayer.com/hc/en-us/articles/221430307-Magic-The-Gathering-Card-Conditions",
        "isScannable": true, "popularity": 1}, {"categoryId": 3, "name": "Pokemon",
        "modifiedOn": "2020-01-01T00:00:00", "displayName": "Pok\u00e9mon", "seoCategoryName":
        "pokemon", "sealedLabel": "Sealed Products", "nonSealedLabel": "Singles",
        "conditionGuideUrl": "https://help.tcgplayer.com/hc/en-us/articles/221430307",
        "isScannable": true, "popularity": 2}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
