# Modify this file and put it at "mtgjson5/resources/mtgjson.properties"

[CardHoarder]
token=

[CardMarket]
app_token=
app_secret=
mkm_access_token=
mkm_access_token_secret=

[GitHub]
username=
api_key=
repo_name=
file_name=

[MTGBan]
api_key=

[MTGJSON]
version=
date=
use_cache=

[Pushover]
app_token=
user_tokens=

[Scryfall]
name=
client_id=
client_secret=

[TCGPlayer]
app_id=
client_id=
client_secret=
api_version=