black==21.5b1
isort==5.9.3
mypy==0.910
pylint==2.11.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
tox==3.24.4

types-PyYAML==5.4.12
types-python-dateutil==2.8.2
types-redis==3.5.15
types-requests==2.25.11
types-ujson==4.2.0