black~=22.12.0
isort==5.11.4
mypy~=0.971
pylint~=2.15.10
pytest~=7.2.1
pytest-cov~=4.0.0
pytest-mock~=3.10.0
setuptools~=66.0.0
tox~=3.28.0
pandas~=1.5.3

types-PyYAML~=6.0.12.3
types-python-dateutil~=2.8.19.6
types-redis~=4.4.0.3
types-requests~=2.28.11.8
types-ujson~=5.7.0.0