beautifulsoup4~=4.11.1
boto3~=1.21.15
botocore~=1.24.15
gevent~=21.12.0
GitPython~=3.1.20; python_version == '3.6'
GitPython~=3.1.27; python_version >= '3.7'
mergedeep~=1.3.4
mkmsdk~=0.5.5
pandas~=1.1.5; python_version == '3.6'
pandas~=1.4.2; python_version >= '3.7'
python-dateutil~=2.8.2
ratelimit~=2.2.1
requests_cache~=0.7.5; python_version == '3.6'
requests_cache~=0.9.3; python_version >= '3.7'
requests~=2.27.1
singleton_decorator~=1.0.0
urllib3~=1.26.8