interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.scryfall.com/cards/search?q=invalid:query:syntax&page=1
  response:
    body:
      string: '{"object": "error", "code": "bad_request", "status": 400, "warnings":
        ["Invalid expression \u201cinvalid:query:syntax\u201d was ignored. Unknown
        keyword \u201cinvalid\u201d."], "details": "All of your terms were ignored."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-action-cache:
      - MISS
    status:
      code: 400
      message: Bad Request
version: 1
