interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.scryfall.com/catalog/keyword-abilities
  response:
    body:
      string: '{"object":"catalog","uri":"https://api.scryfall.com/catalog/keyword-abilities","total_values":212,"data":["Living
        weapon","Jump-start","Commander ninjutsu","Legendary landwalk","Nonbasic landwalk","Megamorph","Haunt","Forecast","Graft","Fortify","Frenzy","Gravestorm","Hideaway","Level
        Up","Infect","Reach","Rampage","Phasing","Multikicker","Morph","Provoke","Modular","Ninjutsu","Replicate","Recover","Poisonous","Reinforce","Persist","Retrace","Rebound","Miracle","Overload","Outlast","Prowess","Renown","Myriad","Shroud","Trample","Vigilance","Storm","Soulshift","Splice","Transmute","R[...]
