interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.scryfall.com/cards/search?q=(o:deck%20o:any%20o:number%20o:cards%20o:named)%20or%20(o:deck%20o:have%20o:up%20o:to%20o:cards%20o:named)
  response:
    body:
      string: "{\"object\":\"list\",\"total_cards\":12,\"has_more\":false,\"data\":[{\"object\":\"card\",\"id\":\"7fb99393-d2b6-40a6-8de7-317efdc4c50b\",\"oracle_id\":\"87050537-99c9-4993-a770-4329b2e749e4\",\"multiverse_ids\":[],\"mtgo_id\":141379,\"tcgplayer_id\":630990,\"cardmarket_id\":824208,\"name\":\"Cid,
        Timeless Artificer\",\"lang\":\"en\",\"released_at\":\"2025-06-13\",\"uri\":\"https://api.scryfall.com/cards/7fb99393-d2b6-40a6-8de7-317efdc4c50b\",\"scryfall_uri\":\"https://scryfall.com/card/fin/216/cid-timeless-artificer?utm_source=api\",\"layout\":\"normal\",\"highres_image\":true,\"image_status\":\"highres_scan\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/front/7/f/7fb99393-d2b6-40a6-8de7-317efdc4c50b.jpg?1748706567\",\"normal\":\"https://cards.scryfall.io/normal/front/7/f/7fb99393-d2b6-40a6-8de7-317efdc4c50b.jpg?1748706567\",\"large\":\"https://cards.scryfall.io/large/front/7/f/7fb99393-d2b6-40a6-8de7-317efdc4c50b.jpg?1748706567\",\"png\":\"https://cards.scryfall.io/png/front/7/f/7fb99393-d2b6-40a6-8de7-317efdc4c50b.png?1748706567\",\"art_crop\":\"https://cards.scryfall.io/art_crop/front/7/f/7fb99393-d2b6-40a6-8de7-317efdc4c50b.jpg?1748706567\",\"border_crop\":\"https://cards.scryfall.io/border_crop/front/7/f/7fb99393-d2b6-40a6-8de7-317efdc4c50b.jpg?1748706567\"},\"mana_cost\":\"{2}{W}{U}\",\"cmc\":4.0,\"type_line\":\"Legendary
        Creature \u2014 Human Artificer\",\"oracle_text\":\"Artifact creatures and
        Heroes you control get +1/+1 for each Artificer you control and each Artificer
        card in your graveyard.\\nA deck can have any number of cards named Cid, Timeless
        Artificer.\\nCycling {W}{U} ({W}{U}, Discard this card: Draw a card.)\",\"power\":\"4\",\"toughness\":\"4\",\"colors\":[\"U\",\"W\"],\"color_identity\":[\"U\",\"W\"],\"keywords\":[\"Cycling\"],\"legalities\":{\"standard\":\"legal\",\"future\":\"legal\",\"historic\":\"legal\",\"timeless\":\"legal\",\"gladiator\":\"legal\",\"pioneer\":\"legal\",\"modern\":\"legal\",\"legacy\":\"legal\",\"pauper\":\"not_legal\",\"vintage\":\"legal\",\"penny\":\"not_legal\",\"commander\":\"legal\",\"oathbreaker\":\"legal\",\"standardbrawl\":\"legal\",\"brawl\":\"legal\",\"alchemy\":\"legal\",\"paupercommander\":\"not_legal\",\"duel\":\"legal\",\"oldschool\":\"not_legal\",\"premodern\":\"not_legal\",\"predh\":\"not_legal\"},\"games\":[\"paper\",\"arena\",\"mtgo\"],\"reserved\":false,\"game_changer\":false,\"foil\":true,\"nonfoil\":true,\"finishes\":[\"nonfoil\",\"foil\"],\"oversized\":false,\"promo\":false,\"reprint\":false,\"variation\":false,\"set_id\":\"d7beb4b7-e1ff-4d35-ab07-5700f17ea1ea\",\"set\":\"fin\",\"set_name\":\"Final
        Fantasy\",\"set_type\":\"expansion\",\"set_uri\":\"https://api.scryfall.com/sets/d7beb4b7-e1ff-4d35-ab07-5700f17ea1ea\",\"set_search_uri\":\"https://api.scryfall.com/cards/search?order=set&q=e%3Afin&unique=prints\",\"scryfall_set_uri\":\"https://scryfall.com/sets/fin?utm_source=api\",\"rulings_uri\":\"https://api.scryfall.com/cards/7fb99393-d2b6-40a6-8de7-317efdc4c50b/rulings\",\"prints_search_uri\":\"https://api.scryfall.com/cards/search?order=released&q=oracleid%3A87050537-99c9-4993-a770-4329b2e749e4&unique=prints\",\"collector_number\":\"216\",\"digital\":false,\"rarity\":\"uncommon\",\"card_back_id\":\"0aeebaf5-8c7d-4636-9e82-8c27447861f7\",\"artist\":\"Lius
        Lasahido\",\"artist_ids\":[\"0a0e9093-ce44-4a69-93a7-09b63e7c330d\"],\"illustration_id\":\"183c5d2d-379a-4d66-b6af-e1b512247a04\",\"border_color\":\"black\",\"frame\":\"2015\",\"frame_effects\":[\"legendary\"],\"security_stamp\":\"triangle\",\"full_art\":false,\"textless\":false,\"booster\":true,\"story_spotlight\":false,\"promo_types\":[\"ffxiv\",\"universesbeyond\"],\"edhrec_rank\":14870,\"prices\":{\"usd\":\"10.56\",\"usd_foil\":\"15.64\",\"usd_etched\":null,\"eur\":\"10.51\",\"eur_foil\":\"13.24\",\"tix\":\"0.11\"},\"related_uris\":{\"tcgplayer_infinite_articles\":\"https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplayer.com%2Fsearch%2Farticles&u=https%3A%2F%2Fwww.tcgplayer.com%2Fsearch%2Farticles%3FproductLineName%3Dmagic%26q%3DCid%252C%2BTimeless%2BArtificer\",\"tcgplayer_infinite_decks\":\"https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplayer.com%2Fsearch%2Fdecks&u=https%3A%2F%2Fwww.tcgplayer.com%2Fsearch%2Fdecks%3FproductLineName%3Dmagic%26q%3DCid%252C%2BTimeless%2BArtificer\",\"edhrec\":\"https://edhrec.com/route/?cc=Cid%2C+Timeless+Artificer\"},\"purchase_uris\":{\"tcgplayer\":\"https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&u=https%3A%2F%2Fwww.tcgplayer.com%2Fproduct%2F630990%3Fpage%3D1\",\"cardmarket\":\"https://www.cardmarket.com/en/Magic/Products?idProduct=824208&referrer=scryfall&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall\",\"cardhoarder\":\"https://www.cardhoarder.com/cards/141379?affiliate_id=scryfall&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall\"}},{\"object\":\"card\",\"id\":\"0cb504a0-1dfb-49d0-84c3-7bd318d55481\",\"oracle_id\":\"47e191f7-6314-4875-b5ee-57e5daf089c4\",\"multiverse_ids\":[513574],\"mtgo_id\":88671,\"arena_id\":76490,\"tcgplayer_id\":235876,\"cardmarket_id\":557510,\"name\":\"Dragon's
        Approach\",\"lang\":\"en\",\"released_at\":\"2021-04-23\",\"uri\":\"https://api.scryfall.com/cards/0cb504a0-1dfb-49d0-84c3-7bd318d55481\",\"scryfall_uri\":\"https://scryfall.com/card/stx/97/dragons-approach?utm_source=api\",\"layout\":\"normal\",\"highres_image\":true,\"image_status\":\"highres_scan\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/front/0/c/0cb504a0-1dfb-49d0-84c3-7bd318d55481.jpg?162[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.scryfall.com/catalog/keyword-abilities
  response:
    body:
      string: '{"object":"catalog","uri":"https://api.scryfall.com/catalog/keyword-abilities","total_values":212,"data":["Living
        weapon","Jump-start","Commander ninjutsu","Legendary landwalk","Nonbasic landwalk","Megamorph","Haunt","Forecast","Graft","Fortify","Frenzy","Gravestorm","Hideaway","Level
        Up","Infect","Reach","Rampage","Phasing","Multikicker","Morph","Provoke","Modular","Ninjutsu","Replicate","Recover","Poisonous","Reinforce","Persist","Retrace","Rebound","Miracle","Overload","Outlast","Prowess","Renown","Myriad","Shroud","Trample","Vigilance","Storm","Soulshift","Splice","Tr[...]
