interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.scryfall.com/catalog/card-names
  response:
    body:
      string: '{"object": "catalog", "uri": "https://api.scryfall.com/catalog/card-names",
        "total_values": 33075, "data": ["\"Ach! Hans, Run!\"", "\"Brims\" Barone,
        Midway Mobster", "\"Lifetime\" Pass Holder", "\"Name Sticker\" Goblin", "\"Rumors
        of My Death . . .\"", "+2 Mace", "17-Year Cicadas", "1996 World Champion",
        "A Display of My Dark Power", "A Girl and Her Dogs", "A Golden Opportunity",
        "A Good Day to Pie", "A Good Thing", "A Killer Among Us", "A Little Chat",
        "A Mysterious Creature", "A Premonition of Your Demise", "A Real Handful",
        "A Realm Reborn", "A Rec[...]
