interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.tcgplayer.com/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        1209599, "userName": "REDACTED", ".issued": "Sun, 02 Nov 2025 16:02:43 GMT",
        ".expires": "Sun, 16 Nov 2025 16:02:43 GMT"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.tcgplayer.com/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        1209599, "userName": "REDACTED", ".issued": "Sun, 02 Nov 2025 16:02:43 GMT",
        ".expires": "Sun, 16 Nov 2025 16:02:43 GMT"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
