interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tcgplayer.com/v1.39.0/catalog/categories
  response:
    body:
      string: '{"totalItems": 89, "success": true, "errors": [], "results": [{"categoryId":
        75, "name": "Akora", "modifiedOn": "2025-03-03T16:34:28.783", "displayName":
        "Akora TCG", "seoCategoryName": "Akora Trading Card Game", "categoryDescription":
        "Akora Trading Card Game", "categoryPageTitle": "Akora Trading Card Game",
        "sealedLabel": "Sealed Products", "nonSealedLabel": "Cards", "conditionGuideUrl":
        "https://store.tcgplayer.com/", "isScannable": true, "popularity": 0, "isDirect":
        false}, {"categoryId": 78, "name": "Alpha Clash", "modifiedOn": "2025-10-07T13:36:29.4",
        "displayName": "Alpha Clash", "seoCategoryName": "Alpha Clash Trading Card
        Game", "categoryDescription": "Alpha Clash Trading Card Game", "categoryPageTitle":
        "Alpha Clash", "sealedLabel": "Sealed Products", "nonSealedLabel": "Cards",
        "conditionGuideUrl": "https://store.tcgplayer.com/", "isScannable": true,
        "popularity": 0, "isDirect": false}, {"categoryId": 6[...]
