interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.scryfall.com/cards/search?order=set&q=set:war+unique:prints&page=1
  response:
    body:
      string: '{"object": "list", "total_cards": 312, "has_more": true, "next_page":
        "https://api.scryfall.com/cards/search?format=json&include_extras=false&include_multilingual=false&include_variations=false&order=set&page=2&q=set%3Awar+unique%3Aprints&unique=prints",
        "data": [{"object": "card", "id": "3ec0c0fb-1a4f-45f4-85b7-346a6d3ce2c5",
        "oracle_id": "a20dd48d-d344-4db1-b0e9-a2b71c3cc9d1", "multiverse_ids": [460928],
        "mtgo_id": 71608, "arena_id": 69452, "tcgplayer_id": 188386, "cardmarket_id":
        372131, "name": "Karn, the Great Creator", "lang": "en", "released_at": "2019-05-03",
        "uri": "https://api.scryfall.com/cards/3ec0c0fb-1a4f-45f4-85b7-346a6d3ce2c5",
        "scryfall_uri": "https://scryfall.com/card/war/1/karn-the-great-creator?utm_source=api",
        "layout": "normal", "highres_image": true, "image_status": "highres_scan",
        "image_uris": {"small": "https://cards.scryfall.io/small/front/3/e/3ec0c0fb-1a4f-45f4-85b7-346a6d3ce2c5.jpg?1701690505",
        "normal": "https://cards.scryfall.io/normal/front/3/e/3ec0c0fb-1a4f-45f4-85b7-346a6d3ce2c5.jpg?1701690505",
        "large": "https://cards.scryfall.io/large/front/3/e/3ec0c0fb-1a4f-45f4-85b7-346a6d3ce2c5.jpg?1701690505",
        "png": "https://cards.scryfall.io/png/front/3/e/3ec0c0fb-1a4f-45f4-85b7-346a6d3ce2c5.png?1701690505",
        "art_crop": "https://cards.scryfall.io/art_crop/front/3/e/3ec0c0fb-1a4f-45f4-85b7-346a6d3ce2c5.jpg?1701690505",
        "border_crop": "https://cards.scryfall.io/border_crop/front/3/e/3ec0c0fb-1a4f-45f4-85b7-346a6d3ce2c5.jpg?1701690505"},
        "mana_cost": "{4}", "cmc": 4.0, "type_line": "Legendary Planeswalker \u2014
        Karn", "oracle_text": "Activated abilities of artifacts your opponents control
        can''t be activated.\n+1: Until your next turn, up to one target noncreature
        artifact becomes an artifact creature with power and toughness each equal
        to its mana value.\n\u22122: You may reveal an artifact card you own from
        outside the game or choose a face-up artifact card you own in exile. Put that
        card into your hand.", "loyalty": "5", "colors": [], "color_identity": [],
        "keywords": [], "legalities": {"standard": "not_legal", "future": "not_legal",
        "historic": "legal", "timeless": "legal", "gladiator": "legal", "pioneer":
        "banned", "modern": "legal", "legacy": "legal", "pauper": "not_legal", "vintage":
        "restricted", "penny": "not_legal", "commander": "legal", "oathbreaker": "legal",
        "standardbrawl": "not_legal", "brawl": "legal", "alchemy": "not_legal", "paupercommander":
        "not_legal", "duel": "legal", "oldschool": "not_legal", "premodern": "not_legal",
        "predh": "not_legal"}, "games": ["arena", "paper", "mtgo"], "reserved": false,
        "game_changer": false, "foil": true, "nonfoil": true, "finishes": ["nonfoil",
        "foil"], "oversized": false, "promo": false, "reprint": false, "variation":
        false, "set_id": "ee044f0b-e101-4ead-8d0e-aa510aad4277", "set": "war", "set_name":
        "War of the Spark", "set_type": "expansion", "set_uri": "https://api.scryfall.com/sets/ee044f0b-e101-4ead-8d0e-aa510aad4277",
        "set_search_uri": "https://api.scryfall.com/cards/search?order=set&q=e%3Awar&unique=prints",
        "scryfall_set_uri": "https://scryfall.com/sets/war?utm_source=api", "rulings_uri":
        "https://api.scryfall.com/cards/3ec0c0fb-1a4f-45f4-85b7-346a6d3ce2c5/rulings",
        "prints_search_uri": "https://api.scryfall.com/cards/search?order=released&q=oracleid%3Aa20dd48d-d344-4db1-b0e9-a2b71c3cc9d1&unique=prints",
        "collector_number": "1", "digital": false, "rarity": "rare", "card_back_id":
        "0aeebaf5-8c7d-4636-9e82-8c27447861f7", "artist": "Wisnu Tan", "artist_ids":
        ["f2d36cdd-a4e9-43ba-b2ad-9d514f6706d4"], "illustration_id": "91e727f7-49ac-4159-bb23-76fd8ed60746",
        "border_color": "black", "frame": "2015", "security_stamp": "oval", "full_art":
        false, "textless": false, "booster": true, "story_spotlight": false, "edhrec_rank":
        1689, "preview": {"source": "Wizards of the Coast", "source_uri": "https://twitter.com/wizards_magic/status/1115721050170458112",
        "previewed_at": "2019-04-09"}, "prices": {"usd": "3.80", "usd_foil": "7.74",
        "usd_etched": null, "eur": "4.49", "eur_foil": "9.08", "tix": "3.77"}, "related_uris":
        {"gatherer": "https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=460928&printed=false",
        "tcgplayer_infinite_articles": "https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplayer.com%2Fsearch%2Farticles&u=https%3A%2F%2Fwww.tcgplayer.com%2Fsearch%2Farticles%3FproductLineName%3Dmagic%26q%3DKarn%252C%2Bthe%2BGreat%2BCreator",
        "tcgplayer_infinite_decks": "https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplayer.com%2Fsearch%2Fdecks&u=https%3A%2F%2Fwww.tcgplayer.com%2Fsearch%2Fdecks%3FproductLineName%3Dmagic%26q%3DKarn%252C%2Bthe%2BGreat%2BCreator",
        "edhrec": "https://edhrec.com/route/?cc=Karn%2C+the+Great+Creator"}, "purchase_uris":
        {"tcgplayer": "https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&u=https%3A%2F%2Fwww.tcgplayer.com%2Fproduct%2F188386%3Fpage%3D1",
        "cardmarket": "https://www.cardmarket.com/en/Magic/Products?idProduct=372131&referrer=scryfall&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall",
        "cardhoarder": "https://www.cardhoarder.com/cards/71608?affiliate_id=scryfall&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall"}},
        {"object": "card", "id": "9b572739-0a10-4af0-9014-dd81b67b3dbb", "oracle_id":
        "a20dd48d-d344-4db1-b0e9-a2b71c3cc9d1", "multiverse_ids": [], "tcgplayer_id":
        188998, "cardmarket_id": 372735, "name": "Karn, the Great Creator", "printed_name":
        "\u5927\u3044\u306a\u308b\u5275\u9020\u8005\u3001\u30ab\u30fc\u30f3", "lang":
        "ja", "released_at": "2019-05-03", "uri": "https://api.scryfall.com/cards/9b572739-0a10-4af0-9014-dd81b67b3dbb",
        "scryfall_uri": "https://scryfall.com/card/war/1%E2%98%85/ja/%E5%A4%A7%E3%81%84%E3%81%AA%E3%82%8B%E5%89%B5%E9%80%A0%E8%80%85%E3%80%81%E3%82%AB%E3%83%BC%E3%83%B3-(karn-the-great-creator)?utm_source=api",
        "layout": "normal", "highres_image": true, "image_status": "highres_scan",
        "image_uris": {"small": "https://cards.scryfall.io/small/front/9/b/9b572739-0a10-4af0-9014-dd81b67b3dbb.jpg?1580443588",
        "normal": "https://cards.scryfall.io/normal/front/9/b/9b572739-0a10-4af0-9014-dd81b67b3dbb.jpg?1580443588",
        "large": "https://cards.scryfall.io/large/front/9/b/9b572739-0a10-4af0-9014-dd81b67b3dbb.jpg?1580443588",
        "png": "https://cards.scryfall.io/png/front/9/b/9b572739-0a10-4af0-9014-dd81b67b3dbb.png?1580443588",
        "art_crop": "https://cards.scryfall.io/art_crop/front/9/b/9b572739-0a10-4af0-9014-dd81b67b3dbb.jpg?1580443588",
        "border_crop": "https://cards.scryfall.io/border_crop/front/9/b/9b572739-0a10-4af0-9014-dd81b67b3dbb.jpg?1580443588"},
        "mana_cost": "{4}", "cmc": 4.0, "type_line": "Legendary Planeswalker \u2014
        Karn", "printed_type_line": "\u4f1d\u8aac\u306e\u30d7\u30ec\u30a4\u30f3\u30ba\u30a6\u30a9\u30fc\u30ab\u30fc
        \u2014 \u30ab\u30fc\u30f3", "oracle_text": "Activated abilities of artifacts
        your opponents control can''t be activated.\n+1: Until your next turn, up
        to one target noncreature artifact becomes an artifact creature with power
        and toughness each equal to its mana value.\n\u22122: You may reveal an artifact
        card you own from outside the game or choose a face-up artifact card you own
        in exile. Put that card into your hand.", "printed_text": "\u5bfe\u6226\u76f8\u624b\u304c\u30b3\u30f3\u30c8\u30ed\u30fc\u30eb\u3057\u3066\u3044\u308b\u30a2\u30fc\u30c6\u30a3\u30d5\u30a1\u30af\u30c8\u306e\u8d77\u52d5\u578b\u80fd\u529b\u306f\u8d77\u52d5\u3067\u304d\u306a\u3044\u3002\n+1\uff1a\u30af\u30ea\u30fc\u30c1\u30e3\u30fc\u3067\u306a\u3044\u30a2\u30fc\u30c6\u30a3\u30d5\u30a1\u30af\u30c8\u6700\u5927\uff11\u3064\u3092\u5bfe\u8c61\u3068\u3059\u308b\u3002\u3042\u306a\u305f\u306e\u6b21\u306e\u30bf\u30fc\u30f3\u307e\u3067\u3001\u305d\u308c\u306f\u30d1\u[...]
[...]
