interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.scryfall.com/cards/search?include_extras=true&include_variations=true&order=set&q=e%3AKHM&unique=prints&page=1
  response:
    body:
      string: '{"object": "list", "total_cards": 426, "has_more": true, "next_page":
        "https://api.scryfall.com/cards/search?format=json&include_extras=true&include_multilingual=false&include_variations=true&order=set&page=2&q=e%3Akhm&unique=prints",
        "data": [{"object": "card", "id": "4de5ff64-6fe7-4fc5-be27-cdbaa14545ab",
        "oracle_id": "d0d4ab83-8b9b-49cd-86b8-720abd0550f4", "multiverse_ids": [503605],
        "mtgo_id": 87321, "arena_id": 75036, "tcgplayer_id": 230675, "cardmarket_id":
        532042, "name": "Axgard Braggart", "lang": "en", "released_at": "2021-02-05",
        "uri": "https://api.scryfall.com/cards/4de5ff64-6fe7-4fc5-be27-cdbaa14545ab",
        "scryfall_uri": "https://scryfall.com/card/khm/1/axgard-braggart?utm_source=api",
        "layout": "normal", "highres_image": true, "image_status": "highres_scan",
        "image_uris": {"small": "https://cards.scryfall.io/small/front/4/d/4de5ff64-6fe7-4fc5-be27-cdbaa14545ab.jpg?1631045424",
        "normal": "https://cards.scryfall.io/normal/front/4/d/4de5ff64-6fe7-4fc5-be27-cdbaa14545ab.jpg?1631045424",
        "large": "https://cards.scryfall.io/large/front/4/d/4de5ff64-6fe7-4fc5-be27-cdbaa14545ab.jpg?1631045424",
        "png": "https://cards.scryfall.io/png/front/4/d/4de5ff64-6fe7-4fc5-be27-cdbaa14545ab.png?1631045424",
        "art_crop": "https://cards.scryfall.io/art_crop/front/4/d/4de5ff64-6fe7-4fc5-be27-cdbaa14545ab.jpg?1631045424",
        "border_crop": "https://cards.scryfall.io/border_crop/front/4/d/4de5ff64-6fe7-4fc5-be27-cdbaa14545ab.jpg?1631045424"},
        "mana_cost": "{3}{W}", "cmc": 4.0, "type_line": "Creature \u2014 Dwarf Warrior",
        "oracle_text": "Boast \u2014 {1}{W}: Untap this creature. Put a +1/+1 counter
        on it. (Activate only if this creature attacked this turn and only once each
        turn.)", "power": "3", "toughness": "3", "colors": ["W"], "color_identity":
        ["W"], "keywords": ["Boast"], "legalities": {"standard": "not_legal", "future":
        "not_legal", "historic": "legal", "timeless": "legal", "gladiator": "legal",
        "pioneer": "legal", "modern": "legal", "legacy": "legal", "pauper": "legal",
        "vintage": "legal", "penny": "legal", "commander": "legal", "oathbreaker":
        "legal", "standardbrawl": "not_legal", "brawl": "legal", "alchemy": "not_legal",
        "paupercommander": "legal", "duel": "legal", "oldschool": "not_legal", "premodern":
        "not_legal", "predh": "not_legal"}, "games": ["arena", "paper", "mtgo"], "reserved":
        false, "game_changer": false, "foil": true, "nonfoil": true, "finishes": ["nonfoil",
        "foil"], "oversized": false, "promo": false, "reprint": false, "variation":
        false, "set_id": "43057fad-b1c1-437f-bc48-0045bce6d8c9", "set": "khm", "set_name":
        "Kaldheim", "set_type": "expansion", "set_uri": "https://api.scryfall.com/sets/43057fad-b1c1-437f-bc48-0045bce6d8c9",
        "set_search_uri": "https://api.scryfall.com/cards/search?order=set&q=e%3Akhm&unique=prints",
        "scryfall_set_uri": "https://scryfall.com/sets/khm?utm_source=api", "rulings_uri":
        "https://api.scryfall.com/cards/4de5ff64-6fe7-4fc5-be27-cdbaa14545ab/rulings",
        "prints_search_uri": "https://api.scryfall.com/cards/search?order=released&q=oracleid%3Ad0d4ab83-8b9b-49cd-86b8-720abd0550f4&unique=prints",
        "collector_number": "1", "digital": false, "rarity": "common", "flavor_text":
        "\"Heavy? Ha! The Trollking of Mossrun was heavy, and I tossed him five miles!\"",
        "card_back_id": "0aeebaf5-8c7d-4636-9e82-8c27447861f7", "artist": "Svetlin
        Velinov", "artist_ids": ["ffd063ae-c097-4f26-b2e6-b1e2137708bc"], "illustration_id":
        "93342037-ac7f-4517-9092-0046430a0afd", "border_color": "black", "frame":
        "2015", "full_art": false, "textless": false, "booster": true, "story_spotlight":
        false, "edhrec_rank": 25792, "penny_rank": 15480, "preview": {"source": "Jim
        Davis", "source_uri": "https://www.twitch.tv/videos/873334862", "previewed_at":
        "2021-01-14"}, "prices": {"usd": "0.06", "usd_foil": "0.07", "usd_etched":
        null, "eur": "0.05", "eur_foil": "0.27", "tix": "0.03"}, "related_uris": {"gatherer":
        "https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=503605&printed=false",
        "tcgplayer_infinite_articles": "https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplayer.com%2Fsearch%2Farticles&u=https%3A%2F%2Fwww.tcgplayer.com%2Fsearch%2Farticles%3FproductLineName%3Dmagic%26q%3DAxgard%2BBraggart",
        "tcgplayer_infinite_decks": "https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplayer.com%2Fsearch%2Fdecks&u=https%3A%2F%2Fwww.tcgplayer.com%2Fsearch%2Fdecks%3FproductLineName%3Dmagic%26q%3DAxgard%2BBraggart",
        "edhrec": "https://edhrec.com/route/?cc=Axgard+Braggart"}, "purchase_uris":
        {"tcgplayer": "https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&u=https%3A%2F%2Fwww.tcgplayer.com%2Fproduct%2F230675%3Fpage%3D1",
        "cardmarket": "https://www.cardmarket.com/en/Magic/Products?idProduct=532042&referrer=scryfall&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall",
        "cardhoarder": "https://www.cardhoarder.com/cards/87321?affiliate_id=scryfall&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall"}},
        {"object": "card", "id": "fb79dc85-f85a-4846-9ac3-c75c64ea9c0a", "oracle_id":
        "f8e8cdc6-5685-4986-a14b-20bb9e31d9cf", "multiverse_ids": [503606], "mtgo_id":
        87323, "arena_id": 75037, "tcgplayer_id": 230735, "cardmarket_id": 532152,
        "name": "Battershield Warrior", "lang": "en", "released_at": "2021-02-05",
        "uri": "h[...]
[...]
