interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.scryfall.com/cards/search?include_extras=true&include_variations=true&order=set&q=e%3ANOTAREALSET123&unique=prints&page=1
  response:
    body:
      string: '{"object": "error", "code": "not_found", "status": 404, "details":
        "Your query didn\u2019t match any cards. Adjust your search terms or refer
        to the syntax guide at https://scryfall.com/docs/reference"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-action-cache:
      - MISS
    status:
      code: 404
      message: Not Found
version: 1
