interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tcgplayer.com/v1.39.0/catalog/categories/1/groups?offset=0
  response:
    body:
      string: '{"totalItems": 437, "success": true, "errors": [], "results": [{"groupId":
        24496, "name": "Commander: Teenage Mutant Ninja Turtles", "abbreviation":
        "TMC", "isSupplemental": false, "publishedOn": "2026-03-06T00:00:00", "modifiedOn":
        "2025-10-13T17:00:52.9", "categoryId": 1}, {"groupId": 24495, "name": "Teenage
        Mutant Ninja Turtles", "abbreviation": "TMT", "isSupplemental": false, "publishedOn":
        "2026-03-06T00:00:00", "modifiedOn": "2025-10-23T18:15:41.523", "categoryId":
        1}, {"groupId": 24497, "name": "Teenage Mutant Ninja Turtles Eternal-Legal",
        "abbreviation": "PZA", "isSupplemental": false, "publishedOn": "2026-03-06T00:00:00",
        "modifiedOn": "2025-10-10T17:45:03.217", "categoryId": 1}, {"groupId": 24462,
        "name"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tcgplayer.com/v1.39.0/catalog/categories/1/groups?offset=10
  response:
    body:
      string: '{"totalItems": 437, "success": true, "errors": [], "results": [{"groupId":
        24424, "name": "Art Series: Marvel''s Spider-Man", "abbreviation": "ASSPM",
        "isSupplemental": false, "publishedOn": "2025-09-26T00:00:00", "modifiedOn":
        "2025-09-29T13:05:47.11", "categoryId": 1}, {"groupId": 24432, "name": "Marvel
        Universe Eternal-Legal", "abbreviation": "MAR", "isSupplemental": false, "publishedOn":
        "2025-09-26T00:00:00", "modifiedOn": "2025-11-26T15:59:15.453", "categoryId":
        1}, {"groupId": 24245, "name": "Marvel''s Spider-Man", "abbreviation": "SPM",
        "isSupplemental": false, "publishedOn": "2025-09-26T00:00:00", "modifiedOn":
        "2025-11-26T22:02:08.9", "categoryId": 1}, {"groupId": 24246, "name": "Marvel''s
        Spider-Man: Eternal-Legal", "abbreviation": "SPE", "isSupplemental": false,
        "publishedOn": "2025-09-26T00:00:00", "modifiedOn": "2025-11-25T21:15:28.037",
        "categoryId": 1}, {"groupId": 24377, "name": "Art Series: Edge of Eternities",
        "abbreviation": "ASEOE", "isSupplemental": false, "publishedOn": "2025-08-01T00:00:00",
        "modifiedOn": "2025-09-29T13:05:10.677", "categoryId": 1}, {"groupId": 24236,
        "name": "Commander: Edge of Eternities", "abbreviation": "EOC", "isSupp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tcgplayer.com/v1.39.0/catalog/categories/1/groups?offset=20
  response:
    body:
      string: '{"totalItems": 437, "success": true, "errors": [], "results": [{"groupId":
        24220, "name": "Commander: FINAL FANTASY", "abbreviation": "FIC", "isSupplemental":
        false, "publishedOn": "2025-06-13T00:00:00", "modifiedOn": "2025-11-26T22:11:35.837",
        "categoryId": 1}, {"groupId": 24219, "name": "FINAL FANTASY", "abbreviation":
        "FIN", "isSupplemental": false, "publishedOn": "2025-06-13T00:00:00", "modifiedOn":
        "2025-11-26T18:35:27.617", "categoryId": 1}, {"groupId": 24226, "name": "FINAL
        FANTASY: Through the Ages", "abbreviation": "FCA", "isSupplemental": false,
        "publishedOn": "2025-06-13T00:00:00", "modifiedOn": "2025-11-26T16:22:26.34",
        "categoryId": 1}, {"groupId": 24274, "name": "Art Series: Tarkir: Dragonstorm",
        "abbreviation": "AATDM", "isSupplemental": false, "publishedOn": "2025-04-11T00:00:00",
        "modifiedOn": "2025-04-02T15:15:37.887", "categoryId": 1}, {"groupId": 24234,
        "name": "Commander: Tarkir: Dragonstorm", "abbreviation": "TDC", "isSupplemental":
        false, "publishedOn": "2025-04-11T00:00:00", "modifiedOn": "2025-11-26T22:31:45.23",
        "categoryId": 1}, {"groupId": 24267, "name": "Promo Pack: Tarkir: Dragonstorm",
        "abbreviation": "PPTDM", "isSupplemental": false, "publishedOn": "2025-04-11T00:00:00",
        "modifiedOn": "2025-10-31T18:50:05.603", "categoryId": 1}, {"groupId": 24232,
        "name": "Tarkir: Dragonstorm", "abbreviation": "TDM", "isSupplemental": false,
        "publishedOn": "2025-04-11T00:00:00", "modifiedOn": "2025-11-26T04:55:36.413",
        "categoryId": 1}, {"groupId": 23874, "name": "Aetherdrift", "abbreviation":
        "DFT", "isSupplemental": false, "publishedOn": "2025-02-14T00:00:00", "modifiedOn":
        "2025-11-26T12:55:45.023", "categoryId": 1}, {"groupId": 24097, "name": "Art
        Series: Aetherdrift", "abbreviation": "ASDFT", "isSupplemental": false, "publishedOn":
        "2025-02-14T00:00:00", "modifiedOn": "2025-09-29T13:04:58.303", "categoryId":
        1}, {"groupId": 23929, "name": "Commander: Aetherdrift", "abbreviation": "DRC",
        "isSupplemental": false, "publishedOn": "2025-02-14T00:00:00", "modifiedOn":
        "2025-11-26T22:47:38.437", "categoryId": 1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tcgplayer.com/v1.39.0/catalog/categories/1/groups?offset=40
  response:
    body:
      string: '{"totalItems": 437, "success": true, "errors": [], "results": [{"groupId":
        23749, "name": "Art Series: Duskmourn: House of Horror", "abbreviation": "ASDSK",
        "isSupplemental": false, "publishedOn": "2024-09-27T00:00:00", "modifiedOn":
        "2024-09-18T13:14:25.077", "categoryId": 1}, {"groupId": 23551, "name": "Commander:
        Duskmourn: House of Horror", "abbreviation": "DSC", "isSupplemental": false,
        "publishedOn": "2024-09-27T00:00:00", "modifiedOn": "2025-11-26T21:10:25.28",
        "categoryId": 1}, {"groupId": 23550, "name": "Duskmourn: House of Horror",
        "abbreviation": "DSK", "isSupplemental": false, "publishedOn": "2024-09-27T00:00:00",
        "modifiedOn": "2025-11-26T21:08:48.407", "categoryId": 1}, {"groupId": 23735,
        "name": "Promo Pack: Duskmourn: House of Horror", "abbreviation": "PPDSK",
        "isSupplemental": false, "publishedOn": "2024-09-27T00:00:00", "modifiedOn":
        "2025-11-26T22:54:26.257", "categoryId": 1}, {"groupId": 23569, "name": "Art
        Series: Bloomburrow", "abbreviation": "ASBLB", "isSupplemental": false, "publishedOn":
        "2024-08-02T00:00:00", "modifiedOn": "2024-07-30T14:49:28.147", "categoryId":
        1}, {"groupId": 23447, "name": "Bloomburrow", "abbreviation": "BLB", "isSupplemental":
        false, "publishedOn": "2024-08-02T00:00:00", "modifiedOn": "2025-11-26T17:26:54.71",
        "categoryId": 1}, {"groupId": 23448, "name": "Commander: Bloomburrow", "abbreviation":
        "BLC", "isSupplemental": false, "publishedOn": "2024-08-02T00:00:00", "modifiedOn":
        "2025-11-26T21:30:52.853", "categoryId": 1}, {"groupId": 23560, "name": "Promo
        Pack: Bloomburrow", "abbreviation": "PPBLB", "isSupplemental": false, "publishedOn":
        "2024-08-02T00:00:00", "modifiedOn": "2025-05-16T13:19:49.173", "categoryId":
        1}, {"groupId": 23542, "name": "Art Series: Universes Beyond: Assassin''s
        Creed", "abbreviation": "ASACR", "isSupplemental": false, "publishedOn": "2024-07-05T00:00:00",
        "modifiedOn": "2025-07-21T16:06:48.72", "categoryId": 1}, {"groupId": 23446,
        "name": "Universes Beyond: Assassin''s Creed", "abbreviation": "ACR", "isSupplemental":
        false, "publishedOn": "2024-07-05T00:00:00", "modifiedOn": "2025-11-26T16:09:03.147",
        "categoryId": 1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tcgplayer.com/v1.39.0/catalog/categories/1/groups?offset=210
  response:
    body:
      string: '{"totalItems": 437, "success": true, "errors": [], "results": [{"groupId":
        2220, "name": "Signature Spellbook: Jace", "abbreviation": "SS1", "isSupplemental":
        true, "publishedOn": "2018-06-15T00:00:00", "modifiedOn": "2025-11-12T22:17:49.857",
        "categoryId": 1}, {"groupId": 2245, "name": "Battlebond", "abbreviation":
        "BBD", "isSupplemental": false, "publishedOn": "2018-06-08T00:00:00", "modifiedOn":
        "2025-11-26T03:54:02.277", "categoryId": 1}, {"groupId": 2246, "name": "Commander
        Anthology Volume II", "abbreviation": "CM2", "isSupplemental": true, "publishedOn":
        "2018-06-08T00:00:00", "modifiedOn": "2025-11-10T23:45:21.487", "categoryId":
        1}, {"groupId": 2199, "name": "Dominaria", "abbreviation": "DOM", "isSupplemental":
        false, "publishedOn": "2018-04-27T00:00:00", "modifiedOn": "2025-11-26T22:34:30.087",
        "categoryId": 1}, {"groupId": 2203, "name": "Challenger Decks", "abbreviation":
        "Q01", "isSupplemental": true, "publishedOn": "2018-04-06T00:00:00", "modifiedOn":
        "2023-08-09T20:38:32.4", "categoryId": 1}, {"groupId": 2207, "name": "Duel
        Decks: Elves vs. Inventors", "abbreviation": "DDU", "isSupplemental": true,
        "publishedOn": "2018-04-06T00:00:00", "modifiedOn": "2025-11-21T14:06:24.763",
        "categoryId": 1}, {"groupId": 2189, "name": "Masters 25", "abbreviation":
        "A25", "isSupplemental": true, "publishedOn": "2018-03-16T00:00:00", "modifiedOn":
        "2025-11-22T02:43:44.867", "categoryId": 1}, {"groupId": 2098, "name": "Rivals
        of Ixalan", "abbreviation": "RIX", "isSupplemental": false, "publishedOn":
        "2018-01-19T00:00:00", "modifiedOn": "2025-11-26T18:56:19.59", "categoryId":
        1}, {"groupId": 2092, "name": "Unstable", "abbreviation": "UST", "isSupplemental":
        true, "publishedOn": "2017-12-08T00:00:00", "modifiedOn": "2025-11-13T19:11:43.263",
        "categoryId": 1}, {"groupId": 2077, "name": "Explorers of Ixalan", "abbreviation":
        "E02", "isSupplemental": true, "publishedOn": "2017-11-24T00:00:00", "modifiedOn":
        "2025-11-14T01:11:34.303", "categoryId": 1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tcgplayer.com/v1.39.0/catalog/categories/1/groups?offset=436
  response:
    body:
      string: '{"totalItems": 437, "success": true, "errors": [], "results": [{"groupId":
        92, "name": "Prerelease Cards", "abbreviation": "PRE", "isSupplemental": true,
        "publishedOn": "2025-11-27T03:40:13.5894045Z", "modifiedOn": "2025-11-26T23:00:40.94",
        "categoryId": 1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
