interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.scryfall.com/cards/search?include_extras=true&include_variations=true&order=set&q=e%3AM19&unique=prints&page=1
  response:
    body:
      string: '{"object": "list", "total_cards": 314, "has_more": true, "next_page":
        "https://api.scryfall.com/cards/search?format=json&include_extras=true&include_multilingual=false&include_variations=true&order=set&page=2&q=e%3Am19&unique=prints",
        "data": [{"object": "card", "id": "0503c55d-74bb-4165-9273-127c01bb2214",
        "oracle_id": "f8e1b38a-2a77-4cf1-8bef-31acb61ede10", "multiverse_ids": [447137],
        "mtgo_id": 68163, "arena_id": 67682, "tcgplayer_id": 169279, "cardmarket_id":
        360318, "name": "Aegis of the Heavens", "lang": "en", "released_at": "2018-07-13",
        "uri": "https://api.scryfall.com/cards/0503c55d-74bb-4165-9273-127c01bb2214",
        "scryfall_uri": "https://scryfall.com/card/m19/1/aegis-of-the-heavens?utm_source=api",
        "layout": "normal", "highres_image": true, "image_status": "highres_scan",
        "image_uris": {"small": "https://cards.scryfall.io/small/front/0/5/0503c55d-74bb-4165-9273-127c01bb2214.jpg?1562300260",
        "normal": "https://cards.scryfall.io/normal/front/0/5/0503c55d-74bb-4165-9273-127c01bb2214.jpg?1562300260",
        "large": "https://cards.scryfall.io/large/front/0/5/0503c55d-74bb-4165-9273-127c01bb2214.jpg?1562300260",
        "png": "https://cards.scryfall.io/png/front/0/5/0503c55d-74bb-4165-9273-127c01bb2214.png?1562300260",
        "art_crop": "https://cards.scryfall.io/art_crop/front/0/5/0503c55d-74bb-4165-9273-127c01bb2214.jpg?1562300260",
        "border_crop": "https://cards.scryfall.io/border_crop/front/0/5/0503c55d-74bb-4165-9273-127c01bb2214.jpg?1562300260"},
        "mana_cost": "{1}{W}", "cmc": 2.0, "type_line": "Instant", "oracle_text":
        "Target creature gets +1/+7 until end of turn.", "colors": ["W"], "color_identity":
        ["W"], "keywords": [], "legalities": {"standard": "not_legal", "future": "not_legal",
        "historic": "legal", "timeless": "legal", "gladiator": "legal", "pioneer":
        "legal", "modern": "legal", "legacy": "legal", "pauper": "not_legal", "vintage":
        "legal", "penny": "not_legal", "commander": "legal", "oathbreaker": "legal",
        "standardbrawl": "not_legal", "brawl": "legal", "alchemy": "not_legal", "paupercommander":
        "not_legal", "duel": "legal", "oldschool": "not_legal", "premodern": "not_legal",
        "predh": "not_legal"}, "games": ["arena", "paper", "mtgo"], "reserved": false,
        "game_changer": false, "foil": true, "nonfoil": true, "finishes": ["nonfoil",
        "foil"], "oversized": false, "promo": false, "reprint": false, "variation":
        false, "set_id": "2f5f2509-56db-414d-9a7e-6e312ec3760c", "set": "m19", "set_name":
        "Core Set 2019", "set_type": "core", "set_uri": "https://api.scryfall.com/sets/2f5f2509-56db-414d-9a7e-6e312ec3760c",
        "set_search_uri": "https://api.scryfall.com/cards/search?order=set&q=e%3Am19&unique=prints",
        "scryfall_set_uri": "https://scryfall.com/sets/m19?utm_source=api", "rulings_uri":
        "https://api.scryfall.com/cards/0503c55d-74bb-4165-9273-127c01bb2214/rulings",
        "prints_search_uri": "https://api.scryfall.com/cards/search?order=released&q=oracleid%3Af8e1b38a-2a77-4cf1-8bef-31acb61ede10&unique=prints",
        "collector_number": "1", "digital": false, "rarity": "uncommon", "flavor_text":
        "Inner strength is never seen until it makes all the difference.", "card_back_id":
        "0aeebaf5-8c7d-4636-9e82-8c27447861f7", "artist": "Anthony Palumbo", "artist_ids":
        ["afd2d541-4140-41ae-a28f-862436458fcb"], "illustration_id": "73de66d6-c1ea-464f-92ba-307510f8a1b3",
        "border_color": "black", "frame": "2015", "full_art": false, "textless": false,
        "booster": true, "story_spotlight": false, "edhrec_rank": 12789, "penny_rank":
        11548, "prices": {"usd": "0.11", "usd_foil": "0.94", "usd_etched": null, "eur":
        "0.10", "eur_foil": "0.46", "tix": "0.03"}, "related_uris": {"gatherer": "https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=447137&printed=false",
        "tcgplayer_infinite_articles": "https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplayer.com%2Fsearch%2Farticles&u=https%3A%2F%2Fwww.tcgplayer.com%2Fsearch%2Farticles%3FproductLineName%3Dmagic%26q%3DAegis%2Bof%2Bthe%2BHeavens",
        "tcgplayer_infinite_decks": "https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplayer.com%2Fsearch%2Fdecks&u=https%3A%2F%2Fwww.tcgplayer.com%2Fsearch%2Fdecks%3FproductLineName%3Dmagic%26q%3DAegis%2Bof%2Bthe%2BHeavens",
        "edhrec": "https://edhrec.com/route/?cc=Aegis+of+the+Heavens"}, "purchase_uris":
        {"tcgplayer": "https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&u=https%3A%2F%2Fwww.tcgplayer.com%2Fproduct%2F169279%3Fpage%3D1",
        "cardmarket": "https://www.cardmarket.com/en/Magic/Products?idProduct=360318&referrer=scryfall&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall",
        "cardhoarder": "https://www.cardhoarder.com/cards/68163?affiliate_id=scryfall&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall"}},
        {"object": "card", "id": "226f7c45-db9f-4d48-b575-4d2f1904c963", "oracle_id":
        "d2575513-72fa-49c7-be6b-9f6f85950f88", "multiverse_ids": [447138], "mtgo_id":
        68165, "arena_id": 67684, "tcgplayer_id": 169280, "cardmarket_id": 360317,
        "name": "Aethershield Artificer", "lang": "en", "released_at": "2018-07-13",
        "uri": [...]
[...]
