name: Tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'

jobs:
  tests:
    strategy:
      matrix:
        python-version:
          - '3.6'
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'

    runs-on: ubuntu-latest

    continue-on-error: ${{matrix.allow-failure == 'yes'}}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup python version
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}

      - name: Install requirements using pip
        shell: bash
        run: |
          python3 -m pip install --upgrade pip setuptools
          python3 -m pip install --requirement requirements_test.txt

      - name: Run tox
        shell: bash
        run: python3 -m tox
